@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');


/* Style the accordion section */
.accordion_section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  /*padding: 18px;*/
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  border:none;
  outline: none;
  transition: background-color 0.1s ease;


  
}

.accordion_small {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0.5vw 0.5vw 0.5vw 14.0vw;
  margin-bottom: 0px;
  display: flex;
  align-items: center;  
  border: none;
  outline: none;
  transition: background-color 0.1s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: white;
}
.active_small {
  background-color: #00ff6a;
}

/* Style the accordion content title */
.accordion_title {
  padding-top: 1.0vw;
  padding-bottom:1.0vw;
 
}

.accordion_title_small {
  padding-left: 2.5vw;
  padding-bottom:0px;
  margin-bottom: 0px;
}

/* Style the accordion chevron icon */
.accordion_icon {
  width: 4.0vw;
  margin-left: auto;
  transition: transform 0.1s ease;
}

.accordion_icon_small {
 margin-left: 4.0vw;
 margin-bottom: 0px;
 height: 2.0vw;
  transition: transform 0.1s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion_content {
  background-color: white;
  overflow: hidden;
  
  /* padding-left:18px;*/
  transition: max-height 0.1s ease;
}

/* Style the accordion content text */

.accordion_text {
 font-family: 'Open Sans', sans-serif;
  font-weight: 400;
 /* font-size: 16px;*/
  padding-top: 18px;
  padding-bottom: 18px;
 }

.accordion_text_small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 14%;
  margin-right: 10%;
  padding-left:50px;
  margin-bottom: 0px;

 }
