/* Kiki Gotaway styles */

/* Home made accordion */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Other stuff */

.logo {
  font-weight: bold;
}

h1 {
  font-size: 36px !important;
}

h2 {
  font-size: 20px !important;
}

.burgermenu {
  height: 30px;
  margin-right: 10px;
}

.menu {
  margin-right: 20px;
}

.slider {
  border-top: 2px solid black;
}

.menuitem {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 90px;
  padding: 20px;
}

.categoryButton {
  margin-right: 15px;
  font-size: 20px !important;
  margin-bottom: 15px;
  padding: 4px !important;
  font-weight: bold !important;
  border: 2px solid black !important;
}

.dropdown-toggle {
  font-size: 20px !important;
  margin-bottom: 15px;
  padding: 4px !important;
  font-weight: bold !important;
  border: 2px solid black !important;
}
.btn-primary {
  background-color: #00ff6a !important;
  color: black !important;
}

#cases {
  margin-bottom: 50px;
}

.caseDiv {
  margin-top: 2px;
  font-weight: bold;
  padding: 4px !important;
  outline: 2px solid black;
  border: 0px;
  width: auto;
  float: left;
  font-size: 20px;
}

.component {
  padding: 20px;
}

.icon-x {
  font-size: 18px;
  padding-bottom: 2px;
}

.btn-outline-dark {
  color: #000;
}
.btn-outline-dark:hover {
  color: silver !important;
}

.clear {
  clear: both;
}
