/* Kiki Gotaway styles */

.header {
  border-bottom: 2px solid black;
  padding-left: 10px;
}

.burgermenu {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 20px;
}

.slider {
  border: 2px solid black;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menuitem {
  border: 2px solid black;
  height: 70px;
  padding: 20px;
}
